dotconfig/pulse
dotconfig/dconf
dotconfig/Code \- OSS
dotconfig/xfce4
dotconfig/libaccounts-glib
dotconfig/Thunar
dotconfig/Electron
dotssh/id*
dotssh/known_hosts
update-notifier-npm.json
thunar.xml
QtProject.conf
