.config/pulse
.config/terminology
.config/dconf
.config/Code \- OSS
update-notifier-npm.json
.ssh/id*
.ssh/known_hosts
thunar.xml
.config/xfce4
.config/libaccounts-glib
.config/Thunar
.config/albert/core.db
.config/Electron
QtProject.conf
.config/konsolerc
